<!doctype html>
<html lang="">
  <head>
  	<title>IPM Database</title>
  	<link rel="stylesheet" href="css/base.css" />
  </head>
  <body>
    <!-- Note: Lack of space between div and content is important -->
    <div id="content">{{{content}}}</div>
    <script src="js/bundle.js"></script>
  </body>
</html>
